.project
.classpath
.springBeans
.settings/
.idea
.idea/
*.iml
target/
.gwt/
.gwt*

#Build
target
target-eclipse
*.class
#Misc
*~
*.info

#Idea
*.iml
*.ipr
*.iws
.idea

#Eclipse
.classpath
.project
.settings

*.log
*.log*
logs

*.pyc
*.DS_Store
*.swp
*.vim

*.orig
/clients/vehtrack-angular/nbproject/private/